version: 2.1
jobs:
  build:
    docker:
      - image: python:3.7.3-stretch
    working_directory: ~/app
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint
      - save_cache:
          key: v1-dependencies-{{ checksum "requirements.txt" }}
          paths:
            - ./venv
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint 
  deploy-infrastructure:
    docker:
      - image: python:3
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            # install eksctl
            curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | \
              tar xz -C .
            sudo mv eksctl /usr/local/bin
            eksctl version
      - run:
          name: Create cluster 
          command: |
            eksctl create cluster \
              --name my-cluster-2 \
              --region us-east-1 \
              --zones us-east-1a,us-east-1b \
              --with-oidc \
              --ssh-access \
              --ssh-public-key  ${SSH_KEY_NAME}\ 
              --managed   

workflows:
  default:
    jobs:
      #- build
      - deploy-infrastructure
